body {
  background-color: #f5f3f3;
}

.image-preview {
  width: 150px;
  height: 88px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 1rem;
  border: 2px solid #ddd;
}

/* --------------- SIDEBAR SECTION --------------- */
.sidebar {
  min-width: 280px;
}
.offcanvas-backdrop.show {
  width: 100%;
  height: 100%;
}
.mobile_offcanvas {
  width: 300px !important;
}

.sidebar_links a {
  text-decoration: none;
  color: black;
}
.sidebar_links a.active {
  color: #fff !important;
  background-color: #0d6efd;
  font-weight: 700;
}

.offcanvas-body {
  padding: 0;
}

@media (max-width: 991.98px) {
  .sidebar {
    display: none;
  }
}


/* --------------- TABLEDATA COMPONENT SECTION --------------- */
.product-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 12px;
  font-size: 14px;
}

.product-table thead th {
  background: #eef1f7;
  padding: 14px 8px;
  font-size: 13px;
  border: 1px solid #d7dce5;
}

[data-bs-theme="dark"] .product-table thead th {
  background: #23272f;
  color: #f5f5f5;
  border-top: 2px solid #3c414a;
  border-bottom: 2px solid #3c414a;
}

.product-table tbody tr {
  background: white;
}

[data-bs-theme="dark"] .product-table tbody tr {
  background: #2c313a;
}

.product-table tbody td {
  padding: 8px;
  font-size: 13px;
}

.product-img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 6px;
}

.action_btn {
  font-size: 20px;
  color: #555;
}
  .action_btn:hover {
    color: red;
    transition: 0.2s;
  }

.tableRow_style {
  max-width: 400px;
  line-height: 27px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
.tableRow2_style {
  max-width: 350px;
  line-height: 27px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

/* --------------- DASHBOARD SECTION --------------- */
.card {
  min-height: 140px;
}

/* --------------- CREATE ACCOUNT SECTION --------------- */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 15px;
  background-color: red;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #4caf50;
}

input:checked + .slider:before {
  transform: translateX(22px);
}

/* --------------- ADMIN SIGNIN SECTION --------------- */
.card_style {
  width: 400px;
  border: none;
  border-radius: 10px;
}

.background_image {
  background: url("../../signin.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}